/**
 * components/tables.css
 *
 * Project Charts.
 *
 */

.apexcharts-title-text {
  font-weight: bold;
  font-family: system-ui, system-ui, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.apexcharts-datalabel-value {
  font-weight: bold;
}

.simple-bar-chart-wrapper {
  width: 100%;
  box-sizing: border-box;
}

.simple-bar-chart {
  height: 10px;
}

.simple-bar-chart-label {
  float: left;
}

.simple-bar-chart-value {
  float: right;
}

.simple-bar-line {
  transition: width 1s;
}

.flex-item-row {
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
}

.three-up-grid-item {
  flex-basis: 100%;
  width: 100%;
  box-sizing: border-box;
}

.three-up-sm-grid-item {
  flex-basis: 100%;
  width: 100%;
  box-sizing: border-box;
}

@screen md {
  .three-up-grid-item {
    flex-basis: 38%;
    width: 38%;
    box-sizing: border-box;
  }

  .three-up-sm-grid-item {
    flex-basis: 22%;
    width: 22%;
    box-sizing: border-box;
  }
}

.file-list-wrapper {
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  background-color: transparent;
}

.file-list-wrapper:hover {
  background-color: #EEE;
}

.good-bad-ugly {
  background: linear-gradient(to right, rgb(0, 200, 0), rgb(255, 255, 0), rgb(200, 0, 0));
  height: 20px;
}

.truncate-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
