/**
 * components/tables.css
 *
 * Project Charts.
 *
 */

.apexcharts-title-text {
  font-weight: bold;
  font-family: system-ui, system-ui, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.apexcharts-datalabel-value {
  font-weight: bold;
}

.simple-bar-chart-wrapper {
  width: 100%;
  box-sizing: border-box;
}

.simple-bar-chart {
  height: 10px;
}

.simple-bar-chart-label {
  float: left;
}
.simple-bar-chart-value {
  float: right;
}

.good-bad-ugly {
  background: linear-gradient(to right, rgb(0, 200, 0), rgb(255, 255, 0), rgb(200, 0, 0));
  height: 20px;
}
