/**
 * components/tables.css
 *
 * Project Tooltips.
 *
 */

div.datepicker.flex.flex-direction-column {
  right: 0;
}

.date-time-picker .flex > * {
  margin-bottom: 0;
}

.date-time-picker .flex {
  align-items: normal;
  flex-wrap: nowrap;
}

body.ltr .date-time-picker .flex > *:not(:last-child) {
  margin-right: auto!important;
}

body.ltr .date-time-picker .flex > .header-picker:not(:last-child) {
  margin-right: 0!important;
}

.shortcuts-container {
}

.datetimepicker .datepicker[data-v-aa61cb52] {
  right: -237px;
}
