/**
 * components/tables.css
 *
 * Project Tables.
 *
 */

table.vuetable {
  width: 100%;
  table-layout: fixed;
  overflow: hidden;
}

.webperf-menubtn-asc::after {
  content: 'downangle';
}

.webperf-menubtn-desc::after {
  content: 'upangle';
}

/**
 * Dashboard chart
 */

table.webperf-dashboard th.pageListingDisplay {
  width: 30%!important;
}

th.loadTimeBar {
  width: 30%!important;
}

th.vuetable-th-craftDbCnt {
  width: 10%!important;
  text-align: right!important;
}

th.vuetable-th-craftTwigCnt {
  width: 10%!important;
  text-align: right!important;
}

th.vuetable-th-craftOtherCnt {
  width: 10%!important;
  text-align: right!important;
}

th.vuetable-th-craftTotalMemory {
  width: 10%!important;
  text-align: right!important;
}

/**
 * Redirects chart
 */

table.retour-redirects th.vuetable-th-redirectSrcUrl {
  width: 30%!important;
}

th.vuetable-th-redirectDestUrl {
  width: 24%!important;
}

th.vuetable-th-redirectMatchType {
  width: 13%!important;
}

th.vuetable-th-redirectHttpCode {
  width: 10%!important;
}

th.vuetable-th-deleteLink {
  width: 5%!important;
}

/**
 * Column alignment
 */
td.text-center {
  text-align: center!important;
}

td.text-right {
  text-align: right!important;
}
