/**
 * components/tables.css
 *
 * Project Tooltips.
 *
 */

.webperf-tooltip {
  position: relative;
  cursor: default;
}

.webperf-tooltip .webperf-tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: gray;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 85%;
  left: 50%;
  margin-left: -150px;
}

.webperf-tooltip .webperf-tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent grey transparent;
}

.webperf-tooltip:hover .webperf-tooltiptext {
  visibility: visible;
}

.webperf-tooltiptext.webperf-tooltip-visible {
  visibility: visible!important;
  width: 60px;
  margin-left: -30px;
  top: 150%;
}

.webperf-tooltiptext.webperf-sample-tooltip {
  width: 100px;
  margin-left: -50px;
  top: 150%;
}

.webperf-tooltip-link.notice.go {
  color: #f1f5f8!important;
}

.webperf-tooltip-link.notice.go:after {
  color: #b9bfc6!important;
}
