{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Webperf plugin for Craft CMS 3.x
 *
 * Webperf index.twig
 *
 * @author    nystudio107
 * @copyright Copyright (c) 2018 nystudio107
 * @link      https://nystudio107.com
 * @package   Webperf
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("nystudio107\\webperf\\assetbundles\\webperf\\WebperfAsset") %}
{% do view.registerAssetBundle("nystudio107\\webperf\\assetbundles\\dashboardcpsection\\DashboardCPSectionAsset") %}

{% set docsUrl = "https://github.com/nystudio107/webperf/blob/master/README.md" %}

{% set title = "Webperf" %}

{% set pluginCpUrl = url('webperf') %}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@nystudio107/webperf/assetbundles/dashboardcpsection/dist', true) ~ '/img/Dashboard-icon.svg' %}

{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('webperf') }}</a>
    </div>
{% endset %}

{% set content %}
    <h2>{{ "Dashboard CP Section body goes here"|t('webperf') }}</h2>
    <img src="{{ iconUrl }}" height="64" width="64" />
    <p class="textline"></p>
{% endset %}
