<div class="text-center p-8 pb-12">
    <div class="webperf-tooltip inline-block w-full max-w-xl good-bad-ugly"
         style="background:linear-gradient(90deg,{{ settings.dashboardFastColor }},{{ settings.dashboardAverageColor }},{{ settings.dashboardSlowColor }});"
    >
        <span class="webperf-tooltiptext webperf-tooltip-visible" style="left: 30px;">Fast</span>
        <span class="webperf-tooltiptext webperf-tooltip-visible" style="left: 50%;">Average</span>
        <span class="webperf-tooltiptext webperf-tooltip-visible" style="left: auto; right: 0;">Slow</span>
    </div>
</div>
