/**
 * components/tables.css
 *
 * Project Charts.
 *
 */

.apexcharts-title-text {
    font-weight: bold;
    font-family: system-ui, -apple-system, Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.apexcharts-datalabel-value {
    font-weight: bold;
}

.simple-bar-chart-wrapper {
    width: 100%;
    box-sizing: border-box;
}

.simple-bar-chart {
    height: 10px;
}

.simple-bar-chart-label {
    float: left;
}

.simple-bar-chart-value {
    float: right;
}

.simple-bar-line {
    transition: width 1s;
}

.file-list-wrapper {
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    background-color: transparent;
}

.file-list-wrapper:hover {
    background-color: #eee;
}

.good-bad-ugly {
    background: linear-gradient(to right, rgb(0 200 0), rgb(255 255 0), rgb(200 0 0));
    height: 20px;
}

.truncate-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
