<html>
<head></head>
<body>
<script>
    {% include "webperf/_frontend/scripts/webperf-config.twig" %}
    (function(d, s) {
        var js = d.createElement(s),
            sc = d.getElementsByTagName(s)[0];

        js.src=webperf_config.url;
        sc.parentNode.insertBefore(js, sc);
    }(document, "script"));

    // Webperf-specific code
    {% include "webperf/_frontend/scripts/webperf-boomerang-custom.twig" %}
</script>
</body>
</html>
