<html>
<head></head>
<body>
<script>
    (function(d, s) {
        var js = d.createElement(s),
            sc = d.getElementsByTagName(s)[0];

        js.src="{{ boomerangScriptUrl }}";
        sc.parentNode.insertBefore(js, sc);
    }(document, "script"));
</script>
</body>
</html>
