{% import "_includes/forms" as forms %}
{% from "webperf/_includes/macros.twig" import configWarning %}
<div id="performance" class="hidden">
    {% namespace "settings" %}
    {{ forms.textField({
        label: "Webperf Data Samples to Store"|t("webperf"),
        instructions: "How many unique Webperf Data Samples should be stored before they are trimmed."|t("webperf"),
        id: "dataSamplesStoredLimit",
        name: "dataSamplesStoredLimit",
        size: 10,
        maxlength: 10,
        value: settings.dataSamplesStoredLimit,
        warning: configWarning("dataSamplesStoredLimit", "webperf"),
        errors: settings.getErrors("dataSamplesStoredLimit"),
    }) }}

    {{ forms.lightswitchField({
        label: "Automatically Trim Data Samples"|t("webperf"),
        instructions: "Whether the Data Samples should be trimmed after each new Data Sample is added"|t("webperf"),
        id: "automaticallyTrimDataSamples",
        name: "automaticallyTrimDataSamples",
        on: settings.automaticallyTrimDataSamples,
        warning: configWarning("automaticallyTrimDataSamples", "webperf"),
        errors: settings.getErrors("automaticallyTrimDataSamples"),
    }) }}

    {{ forms.lightswitchField({
        label: "Trim Outlier Data Samples"|t("webperf"),
        instructions: "Whether outlier data samples that are `10x` the mean should be deleted"|t("webperf"),
        id: "trimOutlierDataSamples",
        name: "trimOutlierDataSamples",
        on: settings.trimOutlierDataSamples,
        warning: configWarning("trimOutlierDataSamples", "webperf"),
        errors: settings.getErrors("trimOutlierDataSamples"),
    }) }}

    {{ forms.textField({
        label: "Rate Limit in ms"|t("webperf"),
        instructions: "The number of milliseconds required between recording of frontend beacon data samples."|t("webperf"),
        id: "rateLimitMs",
        name: "rateLimitMs",
        size: 6,
        maxlength: 5,
        value: settings.rateLimitMs,
        warning: configWarning("rateLimitMs", "webperf"),
        errors: settings.getErrors("rateLimitMs"),
    }) }}
    {% endnamespace %}
</div>
